<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
        <property name="driverClassName" value="org.postgresql.Driver" />
        <property name="url" value="jdbc:postgresql://localhost/bankofjakarta" />
        <property name="username" value="duke" />
        <property name="password" value="dariawan" />
    </bean>
    
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- DAOs -->
    <!--<bean id="accountDao" class="com.dariawan.bankofjakarta.dao.impl.AccountDaoImpl">
        <constructor-arg ref="dataSource" />
    </bean>-->
    <bean id="accountDao" class="com.dariawan.bankofjakarta.dao.impl.AccountDaoImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="customerAccountDao" class="com.dariawan.bankofjakarta.dao.impl.CustomerAccountDaoImpl">
        <constructor-arg ref="dataSource" />
    </bean>

    <bean id="customerDao" class="com.dariawan.bankofjakarta.dao.impl.CustomerDaoImpl">
        <constructor-arg ref="dataSource" />
    </bean>

    <!--<bean id="nextIdDao" class="com.dariawan.bankofjakarta.dao.impl.NextIdDaoImpl">
        <constructor-arg ref="dataSource" />
    </bean>-->
    <bean id="nextIdDao" class="com.dariawan.bankofjakarta.dao.impl.NextIdDaoImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--<bean id="txDao" class="com.dariawan.bankofjakarta.dao.impl.TxDaoImpl">
        <constructor-arg ref="dataSource" />
    </bean>-->
    <bean id="txDao" class="com.dariawan.bankofjakarta.dao.impl.TxDaoImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <!-- end DAOs -->

    <!-- Services -->    
    <bean id="accountService" class="com.dariawan.bankofjakarta.service.impl.AccountServiceImpl">
        <constructor-arg ref="accountDao" />
        <constructor-arg ref="customerDao" />
        <constructor-arg ref="nextIdDao" />
        <constructor-arg ref="customerAccountDao" />
    </bean>

    <bean id="customerService" class="com.dariawan.bankofjakarta.service.impl.CustomerServiceImpl">
        <constructor-arg ref="customerDao" />
        <constructor-arg ref="accountDao" />        
        <constructor-arg ref="nextIdDao" />
    </bean>

    <!--
    <bean id="txService" class="com.dariawan.bankofjakarta.service.impl.TxServiceImpl">
        <constructor-arg ref="accountDao" />
        <constructor-arg ref="nextIdDao" />
        <constructor-arg ref="txDao" />       
    </bean>
    -->
    <bean id="txService" class="com.dariawan.bankofjakarta.service.impl.TxServiceImpl">
        <property name="accountDao" ref="accountDao"/>
        <property name="nextIdDao" ref="nextIdDao"/>
        <property name="txDao" ref="txDao"/>  
    </bean>
    
    <!-- the transactional advice (what 'happens'; see the <aop:advisor/> bean below) -->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <!-- the transactional semantics... -->
        <tx:attributes>
            <tx:method name="add*" propagation="REQUIRED" />
	    <tx:method name="create*" propagation="REQUIRED" />
	    <tx:method name="remove*" propagation="REQUIRED" />
            <tx:method name="set*" propagation="REQUIRED" />
            <!-- tx -->
            <tx:method name="deposit" propagation="REQUIRED" />
            <tx:method name="make*" propagation="REQUIRED" />
            <tx:method name="transferFunds" propagation="REQUIRED" />
            <tx:method name="withdraw" propagation="REQUIRED" />
            <!-- all methods starting with 'get' are read-only -->
            <tx:method name="get*" read-only="true"/>
        </tx:attributes>
    </tx:advice>
    
    <aop:config>
        <aop:advisor pointcut="execution(* *..*Service.*(..))" advice-ref="txAdvice" />	
    </aop:config>
</beans>