<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd">    

    <!-- Services -->    
    <bean id="accountService" class="com.dariawan.bankofjakarta.service.impl.AccountServiceImpl">
        <constructor-arg ref="accountDao" />
        <constructor-arg ref="customerDao" />
        <constructor-arg ref="nextIdDao" />
        <constructor-arg ref="customerAccountDao" />
        <constructor-arg ref="txDao" />
    </bean>

    <bean id="customerService" class="com.dariawan.bankofjakarta.service.impl.CustomerServiceImpl">
        <constructor-arg ref="customerDao" />
        <constructor-arg ref="accountDao" />        
        <constructor-arg ref="nextIdDao" />
        <constructor-arg ref="customerAccountDao" />
    </bean>

    <bean id="txService" class="com.dariawan.bankofjakarta.service.impl.TxServiceImpl">
        <constructor-arg ref="accountDao" />
        <constructor-arg ref="nextIdDao" />
        <constructor-arg ref="txDao" />       
    </bean>
    <!-- end Services -->
</beans>